body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

header {
  background-color: black;
  color: brown;
  text-align: center;
  padding: 20px 0;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.employee-list,
.add-employee {
  background-color: violet;
  padding: 20px;
  border-radius: 8px;
  width: 45%;
}

.employee-list h2,
.add-employee h2 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid green
  padding 8px 0;
}

.actions button {
  margin-left: 6px;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.actions button:hover {
  background-color: skyblue;
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 6px;
}

input[type="text"] {
  width: calc(100% - 12px);
  padding: 8px;
  border-radius: 4px;
  border: 1px solid grey;
}

button {
  padding: 8px 16px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}
