body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
  }
  
  #colorBox {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border: 10px solid black;
  }
  